/* CSS HEX */

:root {
  --nyanza: #d8f3dcff;
  --celadon: #b7e4c7ff;
  --celadon-2: #95d5b2ff;
  --mint: #74c69dff;
  --mint-2: #52b788ff;
  --sea-green: #40916cff;
  --dartmouth-green: #2d6a4fff;
  --brunswick-green: #1b4332ff;
  --dark-green: #081c15ff;
}
font


* {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: var(--mint);
    justify-content: center;
    align-items: center;
}
header {
    background-color: var(--mint-2);
    height: 10dvh;
    width: 100dvw;
    font-size: x-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
footer {
    background-color: var(--sea-green);
    height: 5dvh;
    width: 100dvw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    min-height: 85dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav > a {
    text-decoration: none;
    background-color: var(--dartmouth-green);
    color: white;
    padding: 0.25em;
    border-radius: 0.5em;

}
nav > a:hover {
    background-color: var(--celadon);
}

main > p {
    font-size: small;
}

main > img {
    height: 50%
    width: auto;
    background-color: var(-)
    color: var(-)
}

main > h1 {
    text-align: center;
}


/* header, footer {
    background-color: var(--brunswick-green)
} */